

.base {
	background-color: orange;
}

.alex{
font-size: 64px;
background-color: pink;
vertical-align: top;
}

.ben{
	font-size: 24px;
	background-color: green;
	
}

.cho{
	font-size: 48px;
	background-color: white;
	
}

